@import '../Colors.scss';

.actions-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  border-right: 2px single $black;
  background-color: #ffffff;
}

.actions-input {
  text-align: left;
  border: none;
  border-bottom: 1px solid $black;
  background-color: $grey;
  color: $black;
  padding: 5px 8px; 
}

.actions-input:focus{
  outline: none;
}

.actions-list {
  overflow-y: scroll;
  height: 100vh;
}