@import '../Colors.scss';

.action-button-container {
  display: flex;
  position: relative;
  justify-content: start;
}

.action-large-button {
  background-color: $white;
  font-size: 12px;
  color: $black;
  border: none;
  border-bottom: solid $black 1px;
  padding: 10px 8px;
  width: 100%;
  text-align:left;

  &:hover {
    background-color: $medium-grey;
    color: $white;
  }

  &:active {
    background-color: $medium-grey;
  }
}

.action-small-button {
  position: absolute;
  right: 12px; 
  top: 7px;
  border: solid 1px $grey;
  border-radius: 15px;
  color: $black;
  background-color: $grey;
}