@import '../Colors.scss';

.header{
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0;
  background-color: $grey;
  border-bottom: 2px double $white;
  position: relative;
}

.header-store-button {
  position: relative;
  padding: 7px 150px;
  border: solid 1px $light-medium-grey;
  border-radius: 5px;
  background-color: $grey;
  color:  $black;
  transition-duration: 0.2s;

  &:hover {
    background-color: $medium-grey;
    color: $white;
  }

  &:active {
    background-color: $medium-grey;
    border: solid 2px $light-medium-grey;
    border-radius: 5px;
    color: $white;
  }

  .arrow-down {
    position: absolute;
    right: 20px;
    top: 3px;
  }

}

.header-image-container {
  position: absolute;
  display: flex;
  width: 100px;
  right: 20px;
  justify-content: space-between;
  align-items: center;
  color: $white;
}
