@import '../Colors.scss';

.current-state-container {
  overflow-y: scroll;
  height: 18rem;
  margin: 40px;
}

.current-state-values {
  margin: 5px;
  border: 1px solid $light-medium-grey;
  padding: 1rem 0.5rem;
  border-radius: 2px;
  color: $black;
}