@import '../Themes.scss';

.current-state-container {
  overflow-y: scroll;
  height: 18rem;
  margin: 40px;
}

.current-state-item {
  margin: 5px;
  border: 1px solid var(--light-medium-grey);
  padding: 1rem 0.5rem;
  border-radius: 2px;
  color: var(--black);
}