.current-state-container {
  overflow-y: scroll;
  height: 18rem;
  // margin-top: 40px;
  margin: 40px;
}

.current-state-values {
  margin: 0;
  border: 1px solid white;
  padding: 1rem 0.5rem;
  border-radius: 2px;
  color: white;
}