@import '../Colors.scss';

.node__root  circle {
  fill: $medium-grey;
  stroke:$medium-grey;
  stroke-width: 2px;
  r: 10;
}

.node__branch  circle {
  fill: $medium-grey;
  stroke:$medium-grey;
  stroke-width: 2px;
  r: 10;
}

.node__leaf  circle {
  fill:  $white;
  stroke: $medium-grey;
  stroke-width: 2px;
  r: 10;
}

.node__root text, .node__branch text, .node__leaf text{
  text-shadow:
  -1px -1px 3px $white,
  -1px  1px 3px  $white,
   1px -1px 3px $white,
   1px  1px 3px  $white,
}
