@import '../Colors.scss';

.visualization-wrapper {
  display: flex;
  background: $grey;
  width: 100%;
  border-bottom: 2px double $black;
  justify-content: end;
  align-items: center;
  position: relative;
}

.visualization-buttons-container {
  margin-right: 20px;
}

.visualization-current-button {
  position: absolute;
  color: $black;
  left: 30px;
  font-size: 14px;
}

.visualization-display-button {
  padding: 0.4rem .9rem;
  margin: 5px 1px;
  border: 1px solid $light-medium-grey;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 14px;
  background: $grey;
  color: $black;

  &:hover {
    background-color: $medium-grey;
    color: $white;
  }

  &:active {
    background-color: $medium-grey;
  }
}

.visualization-button-color {
  background: $medium-grey;
}