// Greys
$grey-50: #f7f7f7; // black copy
$grey-100: #e1e1e1; // black copy
$grey-200: #cfcfcf; // black copy
$grey-300: #b1b1b1; // black copy
$grey-400: #9e9e9e; // black copy
$grey-500: #7e7e7e; // white copy
$grey-600: #626262; // white copy
$grey-700: #515151; // white copy
$grey-800: #3b3b3b; // white copy
$grey-900: #222222; // white copy
