$black: #1a1917; // black
$grey: #d9d9d9; // grey
$medium-grey: #434343; // medium grey
$light-medium-grey: #afafaf; // light medium grey
$white: #ffffff; // white
$red: rgb(175, 92, 70); // red
$pink: rgb(250, 226, 221); // pink

$dark-red: #af5c46;
$dark-pink: #d2897b;

// Greys
$grey-50: #f7f7f7; // black copy
$grey-100: #e1e1e1; // black copy
$grey-200: #cfcfcf; // black copy
$grey-300: #b1b1b1; // black copy
$grey-400: #9e9e9e; // black copy
$grey-500: #7e7e7e; // white copy
$grey-600: #626262; // white copy
$grey-700: #515151; // white copy
$grey-800: #3b3b3b; // white copy
$grey-900: #222222; // white copy
