// Greys
$grey-50: #F7F7F7; // black copy
$grey-100: #E1E1E1; // black copy
$grey-200: #CFCFCF; // black copy
$grey-300: #B1B1B1; // black copy
$grey-400: #9E9E9E; // black copy
$grey-500: #7E7E7E; // white copy
$grey-600: #626262; // white copy
$grey-700: #515151; // white copy
$grey-800: #3b3b3b; // white copy
$grey-900: #222222; // white copy