.light-theme {
    --primary: #434343; // medium grey
    --primary-dark: #1a1917; // black
    --primary-light: #afafaf; // light medium grey
    --secondary: #d9d9d9; // grey
    --secondary-light: #ffffff; // white
    --tertiary-dark: rgb(175, 92, 70); // red
    --tertiary-light: rgb(250, 226, 221); // pink
    --svg-hover: #ffffff;
  }

.dark-theme {
    --primary: #494949;
    --primary-dark: #858585;
    --primary-light: #4b4b4b;
    --secondary: #434343;
    --secondary-light: #1a1917;
    --tertiary-dark: #121212;
    --tertiary-light: #4b4b4b;
    --svg-hover: var(--tertiary-dark);
    background-color: #1a1917;
    color: #ffffff;
    // background colors were showing up on certain elements. Here are edge cases to prevent it
    .visualization-current-button, .visualization-buttons-container {
        background-color: transparent;
    }
    .action-large-button-color-timetravel{
        background-color: var(--tertiary-light);
    }
    .node__leaf  circle{
        fill: white;
    }
}