@import "./_Colors.scss";

.light-theme {
  --primary: #434343; // medium grey
  --primary-dark: #1a1917; // black
  --primary-light: #afafaf; // light medium grey
  --secondary: #d9d9d9; // grey
  --secondary-light: #ffffff; // white
  --tertiary-dark: rgb(175, 92, 70); // red
  --tertiary-light: rgb(250, 226, 221); // pink
  --svg-hover: #ffffff;
}

.dark-theme {
  --primary: #7e7e7e; //grey-500
  --primary-dark: #b1b1b1; //grey-300
  --primary-light: #b1b1b1; //grey-300
  --secondary: #3b3b3b; //grey-800
  --secondary-light: #222222; //grey-900
  --tertiary-dark: #af5c46;
  --tertiary-light: #cc8476;
  --svg-hover: var(--tertiary-dark);
  color: #ffffff;

  #display-container,
  .actions-container {
    background-color: #222222; //grey 900
  }
}
