@import './_Themes.scss';

.action-button-container {
  display: flex;
  position: relative;
  border-bottom: solid var(--black) 1px;
  align-items: center;
}

.action-large-button {
  color: var(--black);
  border-bottom: solid var(--black) 1px;
  font-size: 0.75rem;
  border: none;
  background-color: var(--white);
  padding: 0.75rem 0.5rem;
  width: 100%;
  text-align:left;
  transition-duration: 0.2s;
  cursor: pointer;

  .action-text-wrapper {
    width: calc(100% - 4rem);
    overflow: hidden;
    white-space: nowrap;

    .action-text {
      margin: 0;
    }
  }

  &:hover {
    background-color: var(--medium-grey);
    color: var(--white);
    background-color: var(--light-medium-grey);
    color: var(--white);
  }
}

.action-small-button {
  position: absolute;
  border: 1px solid var(--light-medium-grey);
  border-radius: 5px;
  color: var(--black);
  background-color: var(--grey);
  cursor: pointer;
  transition-duration: 0.2s;
  padding: 0.2rem 0.5rem;
  margin-right: 0.75rem;
  right: 0px;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.action-small-button-color {
  background-color: var(--red);
  color: var(--white);
}

.action-large-button-color-timetravel {
  background-color: var(--pink);
  color: var(--black);
}

.action-large-button-color {
  background: var(--medium-grey);
  color: var(--white);
}