@import './_Themes.scss';

.action-button-container {
  display: flex;
  position: relative;
  border-bottom: solid var(--black) 1px;
  align-items: center;
}

.action-large-button {
  background-color: var(--white);
  font-size: 12px;
  color: var(--black);
  border: none;
  border-bottom: solid var(--black) 1px;
  font-size: 12px;
  border: none;
  background-color: var(--white);
  padding: 10px 8px;
  width: 100%;
  text-align:left;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--medium-grey);
    color: var(--white);
    background-color: var(--light-medium-grey);
    color: var(--white);
  }
}

.action-small-button {
  position: absolute;
  right: 12px; 
  top: 7px;
  border: 1px solid var(--light-medium-grey);
  border-radius: 5px;
  color: var(--black);
  background-color: var(--grey);
  cursor: pointer;
  transition-duration: 0.2s;
  padding: 0rem 0.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  right: 0px;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.action-small-button-color {
  background-color: var(--red);
  color: var(--white);
}

.action-large-button-color-timetravel {
  background-color: var(--pink);
  color: var(--black);
}

.action-large-button-color {
  background: var(--medium-grey);
  color: var(--white);
}