@import './_Themes.scss';

.actions-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  border-right: 2px double var(--primary-dark);
  background-color: #ffffff;
}

.actions-input {
  text-align: left;
  border: none;
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-light);
  padding: 0.25rem 0.5rem; 
}

.actions-input:focus{
  outline: none;
}

.actions-buttons {
  display: flex;
  background-color: var(--secondary);
  padding: 0.10rem 0.5rem; 
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-dark);
  height: 2.05rem;
}

.action-button, .reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem .9rem;
  margin: .7px 1px;
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 14px;
  background: var(--secondary);
  color: var(--primary-dark);

  &:hover {
    background-color: var(--primary);
    color: var(--secondary-light);

    .arrow-svg {
      fill: var(--secondary-light);
    }
  }
  
  &:active {
    background-color: var(--primary);
    color: var(--secondary-light);

    .arrow-svg {
      fill: var(--secondary-light);
    }
  }
}

.action-move-container {
  display: flex;
  column-gap: 0.25rem;
  background-color: var(--secondary);
}

.actions-list {
  overflow-y: scroll;
  height: calc(100vh - 7.5rem);
}