body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

#display-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}