@import './Colors.scss';

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: $grey;
  border-bottom: 1px solid $black;
}

.header-store{
  padding: 0.5rem 8rem;
  border: solid 1px $light-medium-grey;
  border-radius: 5px;
  background-color: $grey;
  font-size: 1rem;

  h1 {
    margin: 0;
  }
}

.header-image-container {
  position: absolute;
  display: flex;
  width: 100px;
  right: 20px;
  justify-content: space-between;
  align-items: center;

  .icon{
    color: $black;
    transition-duration: 0.2s;
    
    &:hover, &:active{
      fill: $white;
    }
  }
}
