@import './Colors.scss';

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: $grey;
  border-bottom: 1px solid $black;
  column-gap: 1rem;
}

.header-store{
  border: solid 1px $light-medium-grey;
  border-radius: 5px;
  background-color: $grey;
  font-size: 0.5rem;
  flex-basis: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;

  h1 {
    margin: 0;
  }
}

.header-image-container {
  display: flex;
  column-gap: 0.75rem;

  .icon{
    color: $black;
    transition-duration: 0.2s;
    
    &:hover, &:active{
      fill: $white;
    }
  }
}
