@import './Colors.scss';

.header{
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0;
  background-color: $grey;
  border-bottom: 1px solid $black;
  position: relative;
}

.header-store-button {
  position: relative;
  padding: 7px 150px;
  border: solid 1px $light-medium-grey;
  border-radius: 5px;
  background-color: $grey;
  color:  $black;
  transition-duration: 0.2s;
}

.header-image-container {
  position: absolute;
  display: flex;
  width: 100px;
  right: 20px;
  justify-content: space-between;
  align-items: center;

  .icon{
    color: $black;
    transition-duration: 0.2s;
    
    &:hover, &:active{
      fill: $white;
    }
  }
}
