@import './_Themes.scss';

.current-state-container {
  overflow-y: scroll;
  height: calc(100vh - 8.5rem);
  margin: 0.25rem 0.25rem;
  padding: 1rem;
}

.current-state-item {
  margin: 0.25rem;
  border: 1px solid var(--primary-light);
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--primary-dark);
}