@import './_Themes.scss';

.node__root  circle {
  fill: var(-red);
  stroke: var(-red);
  stroke-width: 2px;
  r: 10;
}

.node__branch  circle {
  fill: var(--pink);
  stroke: var(--pink);
  stroke-width: 2px;
  r: 10;
}

.node__leaf  circle {
  fill:  var(--white);
  stroke: var(--medium-grey);
  stroke-width: 2px;
  r: 10;
}

.node__root text, .node__branch text, .node__leaf text{
  text-shadow:
  -1px -1px 3px var(--white),
  -1px  1px 3px  var(--white),
   1px -1px 3px var(--white),
   1px  1px 3px  var(--white),
}
