@import './_Themes.scss';

.visualization-wrapper {
  display: flex;
  background: var(--grey);
  border-bottom: 2px double var(--black);
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  height: 2.25rem;
}

.visualization-current-button {
  font-size: 1rem;
  margin-left: 1rem;
}

.visualization-buttons-container {
  margin-right: 1rem;
  flex: none;
}

.visualization-display-button {
  padding: 0.4rem .9rem;
  margin: 5px 1px;
  border: 1px solid var(--light-medium-grey);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 14px;
  background: var(--grey);
  color: var(--black);

  &:hover {
    background-color: var(--medium-grey);
    color: var(--white);
  }

  &:active {
    background-color: var(--medium-grey);
    color: var(--white);
  }
}

.visualization-button-color {
  background: var(--medium-grey);
  color: var(--white);
}